.backButton {
  margin: 10px;
}
.historyTitle {
  margin: 12px;
  text-align: center;
}
.list-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
th,
td {
  text-align: center;
}
h1 {
  text-align: center;
}
