.backButton {
  border: none;
  background: transparent;
  padding: 0;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}

.app{
  min-width: 350px;
}